.MainContent{
  margin-top: 200px;
  box-shadow: 0px 0px 10px;
  border-radius: 9px;
  padding: 80px;
 align-self: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(102, 99, 167) 0%, rgb(85, 85, 206) 16%, rgba(0,212,255,1) 100%);
}

